<%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs') %>


        <main class="contactPage container-fluid p-0">
            <section class="email--page flex-column align-items-center justify-content-center">
                <div class="text-center ">
                    <h2 class="subtitle mb-0 p-0 text-center">Get In <span class="stylish-text">Touch</span>.</h2>
                    <p class="description description-section--one my-5">Lorem ipsum dolor sit amet,
                        consectetur
                        adipisicing
                        elit. Dolores voluptatem eius sit exercitationem alias, repellat eligendi quisquam. Cumque,
                        numquam
                        repellat repudiandae iusto fugit provident impedit ex hic, possimus qui saepe.
                    </p>
                </div>
                <form action="contact" method="post" class="form-control p-md-5 p-3 rounded-2">
                    <label class="container-fluid p-0 mb-4" for="nameId">
                        <input class="form-control py-3 rounded-2 description" type="text" name="name" id="nameId"
                            placeholder="Please enter full name:" required>
                    </label>
                    <label class="container-fluid p-0 mb-4" for="emailId">
                        <input class="form-control py-3 rounded-2 description" type="email" name="email" id="emailId"
                            placeholder="Please enter full email:" required>
                    </label>
                    <label class="container-fluid p-0 mb-4" for="telId">
                        <input class="form-control py-3 rounded-2 description" type="tel" name="tel" id="telId"
                            placeholder="Please enter full tel:">
                    </label>

                    <textarea class="form-control rounded-4 description mb-4" name="content" rows="6"
                        placeholder="Enter your Message" required></textarea>
                    <label class="container p-0 mb-4" for="iAmHumanCalculation">
                        <%=randomChar%>
                            <input class="form-control py-3 rounded-2 description" type="text"
                                name="iAmHumanCalculation" id="iAmHumanCalculation" required
                                placeholder="Enter value above:">
                    </label>
                    <div class="col-auto mt-5">
                        <button type="submit" class="btn button btn-lg btn-light ">Send Message</button>
                    </div>

                </form>
            </section>
        </main>

        <%- include('partials/footer.ejs') %>