<%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs') %>
        <main class="homePage">
            <section class="email--page">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container px-md-0 px-4">
                        <h1 class="display-2 font-weight-bold"> Oh oh, Sorry! </h1>
                        <h2 class="display-6 text-danger ">Your message failed to deliver.</h2>
                        <hr class="my-4">
                        <p class="lead">Kindly contact us through this email here: info@trustedaboki.com</p>
                        <p class="lead">
                            <a class="btn button btn-lg btn-light" href="/contact" role="button">Try again!</a>
                        </p>
                    </div>
                </div>

            </section>
        </main>


        <%- include('partials/footer.ejs') %>