<%- include('partials/head.ejs') %>
  <%- include('partials/header.ejs') %>
    <main class="homePage">
      <section class="email--page">
        <div class="jumbotron  px-4">
          <h1 class="display-4 bigHeading"> Thank you <%=senderName%>!</h1>
          <h3 class="display-6 ">Your message was sent successfully.</h3>
          <hr class="my-4">
          <p class="description">I will review your message and get back to you shortly.</p>
          <p class="lead">
            <a class="btn button btn-lg btn-light " href="/" role="button">Okay!</a>
          </p>
        </div>
      </section>
    </main>



    <%- include('partials/footer.ejs') %>