<%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs') %>

        <main class="homePage">
            <section class="section-one dark-section hero px-4" id="section1">
                <div class="container-fluid  row align-items-center">
                    <div class="text-container col-lg-7 col-md-12">
                        <p class="description description-section--one text-light my-5">Hi, my name is,</p>
                        <h1 class="bigHeading text-light my-4">I'm <span class="stylish-text">Benjamin</span>. </h1>
                        <h2 class="bigHeading text-secondary mt-4">I love learning and building new things </h2>
                        <p class="description description-section--one text-light my-5">Lorem ipsum dolor sit amet,
                            consectetur
                            adipisicing
                            elit. Dolores voluptatem eius sit exercitationem alias, repellat eligendi quisquam. Cumque,
                            numquam
                            repellat repudiandae iusto fugit provident impedit ex hic, possimus qui saepe.
                        </p>
                        <a class="btn button btn-lg btn-light " href="#about-me">Get to me</a>
                    </div>
                    <div class="image-container col-lg-5 d-lg-block d-none">
                        <img class="image-fluid profileImg" src="/images/benjamin-web-developer-expert.png"
                            alt="meet Benjamin Nwabunwanne, web developer">
                    </div>
                </div>
            </section>


            <div class="container-fluid p-0 m-0 curvySection">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#101318" fill-opacity="1"
                        d="M0,192L40,181.3C80,171,160,149,240,117.3C320,85,400,43,480,69.3C560,96,640,192,720,218.7C800,245,880,203,960,154.7C1040,107,1120,53,1200,53.3C1280,53,1360,107,1400,133.3L1440,160L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
                    </path>
                </svg>
            </div>


            <section class="section-two light-section container-fluid justify-content-center row align-items-center "
                id="about-me">
                <div class="text-center mb-5">
                    <h2 class="subtitle mb-0 p-0 text-center">About me</h2>
                </div>

                <div
                    class="d-flex justify-content-center container-fluid flex-md-row flex-column-reverse row align-items-md-start align-items-center my-5 pt-3">
                    <div
                        class="left-column d-flex justify-content-between align-items-start flex-column col-md-8 col-12 ">
                        <div class="text-container mt-5 mt-md-0 pt-3 pt-md-0">
                            <p class="description description-section--one  mb-3 mt-0">Lorem ipsum dolor sit amet,
                                consectetur
                                adipisicing
                                elit. Dolores voluptatem eius sit exercitationem alias, repellat eligendi quisquam.
                                Cumque,
                                numquam
                                repellat repudiandae iusto fugit provident impedit ex hic, possimus qui saepe.
                            </p>

                        </div>
                        <div class="list-column my-3">
                            <h3>Skills</h3>
                            <div class="skillsContainer container-fluid row d-flex  row">
                                <ul class="skills-list-left col list-unstyled">
                                    <li class="skill mb-2">
                                        <i class="fa-brands fa-html5  skill-icon"></i>
                                        <span class="skill-text p-2 ">HTML</span>
                                    </li>
                                    <li class="skill mb-2">
                                        <i class="fa-brands fa-css3-alt skill-icon"></i>
                                        <span class="skill-text p-2">CSS 3</span>
                                    </li>
                                    <li class="skill mb-2">
                                        <i class="fa-brands fa-bootstrap skill-icon"></i>
                                        <span class="skill-text p-2">
                                            BOOTSTRAP</span>
                                    </li>
                                    <li class="skill mb-2">
                                        <i class="fa-brands fa-js skill-icon"></i>
                                        <span class="skill-text p-2">JAVASCRIPT <span class="brkt">(ES6+)</span></span>
                                    </li>

                                </ul>
                                <ul class="skills-list-center col list-unstyled">
                                    <li class="skill mb-2">
                                        <i class="fa-brands fa-node-js skill-icon "></i>
                                        <span class="skill-text p-2 ">
                                            NODE JS</span>
                                    </li>
                                    <li class="skill mb-2">
                                        <i class="fa-brands fa-react skill-icon"></i>
                                        <span class="skill-text p-2">
                                            EXPRESS</span>
                                    </li>
                                    <li class="skill mb-2">
                                        <i class="fa-solid fa-database skill-icon"></i>
                                        <span class="skill-text p-2">DATABASE <span class="brkt">(MONGO DB)</span>
                                        </span>
                                    </li>
                                    <li class="skill mb-2">
                                        <i class="fa-brands fa-github skill-icon"></i>
                                        <span class="skill-text p-2">GITHUB</span>
                                    </li>

                                </ul>
                                <ul class="skills-list-right col list-unstyled">
                                    <li class="skill mb-2">
                                        <i class="fa-brands fa-wordpress skill-icon"></i>
                                        <span class="skill-text p-2">
                                            WORDPRESS</span>
                                    </li>
                                    <li class="skill mb-2">
                                        <i class="fa-brands fa-shopify skill-icon"></i>
                                        <span class="skill-text p-2"> SHOPIFY</span>
                                    </li>
                                    <li class="skill mb-2">
                                        <i class="fa-brands fa-squarespace skill-icon"></i>
                                        <span class="skill-text p-2"> SQUARESPACE</span>
                                    </li>
                                    <li class="skill mb-2">
                                        <i class="fa-brands fa-wix skill-icon"></i>
                                        <span class="skill-text p-2"> WIX</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a class="btn button btn-lg btn-light " href="#" target="_blank">Contact
                            me</a>
                    </div>
                    <div class="right-column col-md-4 col-11 mb-md-0 mb-5 ">
                        <div class="image-container ">
                            <img class="image-fluid" src="/images/benjamin-web-developer 2-expert.png"
                                alt="meet Benjamin Nwabunwanne, web developer">
                        </div>
                    </div>
                </div>
            </section>

            <section id="testimonial"
                class=" section-three light-section testimonialSection flex-column align-items-center justify-content-center px-0">

                <h3 class="subtitle mb-5 px-5 ">Reviews from some of my amazing clients</h3>
                <!-- Carousel wrapper -->
                <div id="carouselControl" class="carousel slide" data-bs-ride="carousel">
                    <!-- Controls -->
                    <div class="d-flex justify-content-center mb-4">
                        <button class="carousel-control-prev position-relative " type="button"
                            data-bs-target="#carouselControl" data-bs-slide="prev">
                            <div class="controlArrow">
                                <i class="fas fa-angle-left" aria-hidden="true"></i>
                                <span class="visually-hidden">Previous</span>
                            </div>
                        </button>
                        <button class="carousel-control-next position-relative " type="button"
                            data-bs-target="#carouselControl" data-bs-slide="next">
                            <div class="controlArrow">
                                <i class="fas fa-angle-right" aria-hidden="true"></i>
                                <span class="visually-hidden">Next</span>
                            </div>
                        </button>
                    </div>

                    <!-- Inner -->
                    <div class="carousel-inner py-4">

                        <!--============================================ Single item 1 ============================================-->
                        <div class="carousel-item container-fluid active">

                            <div class="row  p-lg-5  p-md-0 p-5 reviewBox-container justify-content-center">
                                <div class="col-md-5 reviewBox p-4">
                                    <ul
                                        class="list-unstyled d-flex justify-content-start text-warning mb-0 reviewStars">
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                    </ul>
                                    <p class="text-muted description review my-4">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        After working for weeks with Ben on the development of my new website, I
                                        must say that I am extremely excited with the end result. Working with
                                        Ben was amazing. He is extremely dedicated to his job and making sure
                                        you get what you need. I felt totally guided by his suggestions. I
                                        highly recommend him. I know I am very demanded and look for perfection
                                        and his was able to meet all of my needs. I would give him more that
                                        10/10 stars . Thank you Ben I am glad I selected you."
                                    </p>
                                    <h5 class="mb-3 clientName">Anerys McMahon-Ford, <span class="companyName">ezy
                                            learn
                                            academy</span></h5>
                                    <a href="https://ezylearnacademy.com/" target="_blank" class="reviewSiteLink">view
                                        site</a>

                                </div>
                                <div class="col-md-5 reviewBox p-4">
                                    <ul
                                        class="list-unstyled d-flex justify-content-start text-warning mb-0 reviewStars">
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                    </ul>
                                    <p class="text-muted description review my-4">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        Ben is an absolutely FANTASTIC web developer! He understood what was
                                        required and went above and beyond. He accommodated our requests and
                                        delivered on time. We wanted both UI and web development services and
                                        Ben delivered. I couldn't ask for anything more. He's communication
                                        skills were excellent and his work was exceptional! I will definitely
                                        hire Ben again, without thinking twice. Thank you Ben - Our website
                                        looks Amazing ! Great job.
                                    </p>
                                    <h5 class="mb-3 clientName">Sarah A , <span class="companyName">byuti
                                            mane</span></h5>
                                    <a href="https://byutimane.com/" target="_blank" class="reviewSiteLink">view
                                        site</a>

                                </div>
                                <div class="col-md-5 reviewBox p-4">
                                    <ul
                                        class="list-unstyled d-flex justify-content-start text-warning mb-0 reviewStars">
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                    </ul>
                                    <p class="text-muted description review my-4">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        Amazing! Working with Benjamin was great. Very professional and knows
                                        his stuff when it comes to web design. Super friendly and easy to get
                                        along with. Whether I wrote to him at 07:00 am or midnight he was there
                                        to assist me with whatever question I had. I consider us as friends now
                                        and not just colleagues. I Highly recommend Benjamin to anyone looking
                                        for his skill set because I defiantly will be working with him on more
                                        projects! Thanks Benjamin! <3" </p>
                                            <h5 class="mb-3 clientName">Dr. Hash Ghanma, <span class="companyName">Bay
                                                    Area
                                                    Fireplace</span>
                                            </h5>
                                            <a href="https://bayareafireplace.com/" target="_blank"
                                                class="reviewSiteLink">view
                                                site</a>

                                </div>
                                <div class="col-md-5 reviewBox p-4">
                                    <ul
                                        class="list-unstyled d-flex justify-content-start text-warning mb-0 reviewStars">
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                    </ul>
                                    <p class="text-muted description review my-4">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        Benjamin, in one word, phenomenal! He went above and beyond for my
                                        squarespace website design. I gave him little direction and little to
                                        work with and he used his incredible design eye and skill to knock it
                                        out of the park! Super clean, sophisticated and creative eye for design.
                                        He was a true pleasure to work with too, very responsive, kind and
                                        reliable. He was patient as well, as this project lasted longer than
                                        expected due to my changes in direction within my business and he was
                                        flexible to make adjustments to meet my new demands. I'm SO grateful for
                                        how this project turned out and for the great experience working with
                                        Ben! Highly recommend!
                                    </p>
                                    <h5 class="mb-3 clientName">Michelle Stenz, <span class="companyName">Michelle
                                            Stenz fitness</span>
                                    </h5>
                                    <a href="https://www.michellestenzfitness.com/" class="reviewSiteLink">view
                                        site</a>

                                </div>
                            </div>

                        </div>

                        <!--============================================ Single item 2 ============================================-->

                        <div class="carousel-item container-fluid ">

                            <div class="row  p-lg-5  p-md-0 p-5 reviewBox-container justify-content-center">
                                <div class="col-md-5 reviewBox p-4">
                                    <ul
                                        class="list-unstyled d-flex justify-content-start text-warning mb-0 reviewStars">
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                    </ul>
                                    <p class="text-muted description review my-4">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        Benjamin is a class act! Not only does he produce amazing websites, delivers in
                                        a timely manner, comes to the table with fresh ideas, and has access to all the
                                        tech you will need, -BUT, he's a great guy that genuinely cares about the
                                        project. He delivered a wonderful site for us and our client, simply over the
                                        moon! We are looking forward to working with him over the long term.
                                    </p>
                                    <h5 class="mb-3 clientName">Jonny Shipman, <span class="companyName">Invincible
                                            Media</span></h5>
                                    <a href="https://www.invinciblemedia.co.uk/" target="_blank"
                                        class="reviewSiteLink">view
                                        site</a>
                                </div>
                                <div class="col-md-5 reviewBox p-4">
                                    <ul
                                        class="list-unstyled d-flex justify-content-start text-warning mb-0 reviewStars">
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                    </ul>
                                    <p class="text-muted description review my-4">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        Great communicator, detail oriented and held firm on his commitments. He went
                                        over and above in many instances on the project.</br>
                                        Benjamin's quality if work is of a high professional standard. I would highly
                                        recommend Benjamin.
                                    </p>
                                    <h5 class="mb-3 clientName">Dimitri Gonatas, <span class="companyName">Pygio</span>
                                    </h5>
                                    <a href="https://www.pygio.com/" target="_blank" class="reviewSiteLink">view
                                        site</a>

                                </div>
                                <div class="col-md-5 reviewBox p-4">
                                    <ul
                                        class="list-unstyled d-flex justify-content-start text-warning mb-0 reviewStars">
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                    </ul>
                                    <p class="text-muted description review my-4">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        Benjamin got our Figma skteches and built us a great website in Elementor. He
                                        understood the task well and was agile and very nice to work with. Project
                                        deadline changed several times because of the external circumstances, but
                                        luckily Benjamin was patient and quick to reply to tweak last minute details.
                                    </p>
                                    <h5 class="mb-3 clientName">Maria Amelie, <span
                                            class="companyName">Factiverse</span>
                                    </h5>
                                    <a href="https://www.factiverse.no/" target="_blank" class="reviewSiteLink">view
                                        site</a>

                                </div>
                                <div class="col-md-5 reviewBox p-4">
                                    <ul
                                        class="list-unstyled d-flex justify-content-start text-warning mb-0 reviewStars">
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                    </ul>
                                    <p class="text-muted description review my-4">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        I have used Benjamin twice and I love his work. He is very knowledgeable in what
                                        he's doing and very flexible and patient especially when it comes to doing the
                                        changes on the work. I will use him again and refer him to my friends and
                                        colleagues.
                                    </p>
                                    <h5 class="mb-3 clientName">Zillah Musungu, <span class="companyName">Best African
                                            Revelation Intnl.</span>
                                    </h5>
                                    <a href="https://bestafricanrevelation.com/" target="_blank"
                                        class="reviewSiteLink">view
                                        site</a>

                                </div>
                            </div>

                        </div>




                        <!--============================================ Single item 3 ============================================-->

                        <div class="carousel-item container-fluid ">

                            <div class="row p-lg-5  p-md-0 p-5 reviewBox-container justify-content-center">
                                <div class="col-md-5 reviewBox p-4">
                                    <ul
                                        class="list-unstyled d-flex justify-content-start text-warning mb-0 reviewStars">
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                    </ul>
                                    <p class="text-muted description review my-4">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        Benjamin is a very talented web designer who did a fantastic job. He was very
                                        reliable, gave great suggestions and implemented our feedback well. We look
                                        forward to working with him again soon!
                                    </p>
                                    <h5 class="mb-3 clientName">Catherine B, <span class="companyName">UXBoost</span>
                                    </h5>
                                    <a href="https://academy.uxboost.com/" target="_blank" class="reviewSiteLink">view
                                        site</a>

                                </div>
                                <div class="col-md-5 reviewBox p-4">
                                    <ul
                                        class="list-unstyled d-flex justify-content-start text-warning mb-0 reviewStars">
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                    </ul>
                                    <p class="text-muted description review my-4">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        Benjamin went above and beyond in helping me create my ideal brand website. He
                                        has vision, work ethic, and excellent communication skills. I will be
                                        contracting with him in the future.
                                    </p>
                                    <h5 class="mb-3 clientName">Ryan Lambert, <span class="companyName">live laugh shirt
                                        </span></h5>
                                    <a href="https://livelaughshirt.com/" target="_blank" class="reviewSiteLink">view
                                        site</a>

                                </div>
                                <div class="col-md-5 reviewBox p-4">
                                    <ul
                                        class="list-unstyled d-flex justify-content-start text-warning mb-0 reviewStars">
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                    </ul>
                                    <p class="text-muted description review my-4">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        Totally satisfied with how Benjamin worked with us. He's been loyal, adhered to
                                        tight delivery dates, cooperated with our various requests. Recommended!"<3"
                                            </p>
                                            <h5 class="mb-3 clientName">Pier Giorgio Provenzano, <span
                                                    class="companyName">Green Brown Blue</span>
                                            </h5>
                                            <a href="https://greenbrownblue.com/seafood-map/" target="_blank"
                                                class="reviewSiteLink">view
                                                site</a>

                                </div>
                                <div class="col-md-5 reviewBox p-4">
                                    <ul
                                        class="list-unstyled d-flex justify-content-start text-warning mb-0 reviewStars">
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                    </ul>
                                    <p class="text-muted description review my-4">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        Benjamin is a professional designer/developer and it has been a pleasure working
                                        with him. I'm planning to have him as an integral part of the team.
                                    </p>
                                    <h5 class="mb-3 clientName">Arash Akhavan, <span class="companyName">Event
                                            Lobby</span>
                                    </h5>
                                    <a href="https://eventlobby.com/" class="reviewSiteLink" target="_blank">view
                                        site</a>

                                </div>
                            </div>

                        </div>




                        <!--============================================ Single item 4 ============================================-->

                        <div class="carousel-item container-fluid ">

                            <div class="row  p-lg-5  p-md-0 p-5  reviewBox-container justify-content-center">
                                <div class="col-md-5 reviewBox p-4">
                                    <ul
                                        class="list-unstyled d-flex justify-content-start text-warning mb-0 reviewStars">
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                    </ul>
                                    <p class="text-muted description review my-4">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        Benjamin was great! He went above and beyond to meet our expectations for a
                                        custom word press design. He was quick to reply and was great with communicating
                                        his progress. I would highly recommend him to anyone looking for a website
                                        designer.
                                    </p>
                                    <h5 class="mb-3 clientName">Michelle Bommer, <span class="companyName">That Api
                                            Company</span></h5>
                                    <a href="https://thatapicompany.com/" target="_blank" class="reviewSiteLink">view
                                        site</a>

                                </div>
                                <div class="col-md-5 reviewBox p-4">
                                    <ul
                                        class="list-unstyled d-flex justify-content-start text-warning mb-0 reviewStars">
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                    </ul>
                                    <p class="text-muted description review my-4">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        Benjamin was amazing to work with. We worked on a couple of projects together
                                        and he's extremely knowledgeable on anything related to web development, html,
                                        javascript, css and server side code. He is fluent in English so communication
                                        was easy, forth-coming, friendly and professional. We'll be working on some more
                                        projects together soon. I'd 100% recommend him to anyone looking for superb,
                                        high quality web development services.
                                    </p>
                                    <h5 class="mb-3 clientName">Robert Matuk <span class="companyName"></span></h5>
                                    <a href="#" target="_blank" class="reviewSiteLink">view
                                        site</a>

                                </div>
                                <div class="col-md-5 reviewBox p-4">
                                    <ul
                                        class="list-unstyled d-flex justify-content-start text-warning mb-0 reviewStars">
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                    </ul>
                                    <p class="text-muted description review my-4">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        Ben and Bridget are hard working and they want to make sure you are happy with
                                        the product ,good experience and very easy to work with , give them a chance and
                                        you will not be disappointed i am very skeptical about working with people not
                                        close to my city but i gave them a chance and i am happy with the result. now
                                        we are working on the next website and another one will be coming soon.
                                    </p>
                                    <h5 class="mb-3 clientName">Dr. Hash Ghanma, <span class="companyName">Café
                                            Vitale</span>
                                    </h5>
                                    <a href="https://cafevitale.com/" target="_blank" class="reviewSiteLink">view
                                        site</a>

                                </div>
                                <div class="col-md-5 reviewBox p-4">
                                    <ul
                                        class="list-unstyled d-flex justify-content-start text-warning mb-0 reviewStars">
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                        <li><i class="fas fa-star fa-sm"></i></li>
                                    </ul>
                                    <p class="text-muted description review my-4">
                                        <i class="fas fa-quote-left pe-2"></i>
                                        It was an absolute pleasure to work with Benjamin on a recent website project.
                                        He is talented, patient, professional and excellent with communication. He met
                                        all the deadlines and was willing to continue to work together for additional
                                        changes. There were many difficult parts to the design that needed to be
                                        accomplished and Benjamin was always patient and willing to work towards fixing
                                        any issues and perfecting the design. He is also very knowledgeable about web,
                                        wordpress and web design in general and I feel I learned a lot from this process
                                        as well. Would highly recommend working with Benjamin to anyone looking for a
                                        developer/web designer to collaborate with in bringing their ideas and vision to
                                        life."
                                    </p>
                                    <h5 class="mb-3 clientName">Sophie Loloi<span class="companyName">Michelle
                                            Stenz fitness</span>
                                    </h5>
                                    <a href="https://bluelinesigninstall.com/" target="_blank"
                                        class="reviewSiteLink">view
                                        site</a>

                                </div>
                            </div>

                        </div>


                    </div>

                    <!-- Inner -->
                </div>

                <a class="btn button btn-lg btn-light " href="https://www.upwork.com/freelancers/benjaminn45"
                    target="_blank">View more reviews</a>
                <!-- Carousel wrapper -->
            </section>




            <div class="container-fluid p-0 m-0 section-four-curvySection curvySection">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="var(--light-background)" fill-opacity="1"
                        d="M0,192L40,181.3C80,171,160,149,240,117.3C320,85,400,43,480,69.3C560,96,640,192,720,218.7C800,245,880,203,960,154.7C1040,107,1120,53,1200,53.3C1280,53,1360,107,1400,133.3L1440,160L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
                    </path>
                </svg>
            </div>


            <section id="section4"
                class="section-four dark-section flex-column align-items-center justify-content-center text-light row">
                <div class="text-center col-12 col-lg-7 col-md-10 p-md-0 p-4">
                    <h2 class="subtitle mb-0 p-0 text-center">Get In <span class="stylish-text">Touch</span>.</h2>
                    <p class="description description-section--one text-light my-lg-5 py-5">Lorem ipsum dolor sit amet,
                        consectetur
                        adipisicing
                        elit. Dolores voluptatem eius sit exercitationem alias, repellat eligendi quisquam. Cumque,
                        numquam
                        repellat repudiandae iusto fugit provident impedit ex hic, possimus qui saepe.
                    </p>
                    <a class="btn button btn-lg btn-light " href="/contact">Say Hello</a>
                </div>
            </section>

            <div class="container-fluid p-0 m-0 section-five-curvySection curvySection">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="var(--dark-background)" fill-opacity="1"
                        d="M0,192L40,181.3C80,171,160,149,240,117.3C320,85,400,43,480,69.3C560,96,640,192,720,218.7C800,245,880,203,960,154.7C1040,107,1120,53,1200,53.3C1280,53,1360,107,1400,133.3L1440,160L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
                    </path>
                </svg>
            </div>

            <!-- <section id="section5" class="bg-success section-five">
                <h1>
                    <%=title%> Section 5
                </h1>
            </section>
            <h1> HELLO EVERYBODY!</h1> -->

        </main>

        <%- include('partials/footer.ejs') %>