<header>
    <nav class="navbar navbar-expand-lg bg-transparent navigation px-0 px-lg-5 py-lg-3 p-md-0">
        <div class="container-fluid d-flex justify-content-between pt-md-3 pt-lg-0 p-md-0 p-0 p-lg-0">
            <a class="navbar-brand text-light m-0 mx-md-4 mx-lg-0 logoImage" href="/"><img
                    src="/images/Benjamin Nwabunwanne-web-developer-javascript-logo.png" alt=""></a>
            <button class="navbar-toggler py-2 m-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navLinksContainer" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-between align-items-center gx-4">
                    <li class="nav-item p-0 "><a class="nav-link p-lg-0 py-md-2 active " href="/#section1">Home</a></li>
                    <li class="nav-item p-0 "><a class="nav-link p-lg-0 py-md-2 " href="/#about-me">About me</a></li>
                    <li class="nav-item p-0 "><a class="nav-link p-lg-0 py-md-2 " href="/#testimonial">Testimonials</a>
                    </li>
                    <li class="nav-item p-0 "><a class="nav-link p-lg-0 py-md-2 " href="/contact">Contact me</a></li>
                    <li class="nav-item p-0 "><a class="nav-link p-lg-0 py-md-2 " href="/news">World news</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>